DOCTYPE
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	title Email
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="css/media.css")
body
	.container
		.email-center
			.email-header
				a.email-logo-foot(href="#")
					img(src="img/foot.png", alt="foot-logo")
				a.email-logo-sonic(href="#")
					img(src="img/Sonic.png" alt="sonic-logo")
				p Inspired to stay in shape
			
			.email-content
				.email-content-white
					.content-left
						h1 New Features <br>Coming Your Way
						p.
							Hey < name >,<br> 
							we’ve been working on improving the app<br> and we think you’re going to like the new<br> features coming to you this month. He’re is<br> what you will be able to do with SonicSole’s<br> new version: 

						.walking
							h2 Walking or Running?
							p.
								Looking for a walking session? The new version<br> will feature a “Run” or “Walk” filter making it<br> easy for you to find the the right track.
					.content-right
						img(src="img/iphone.jpg")
				
				.email-content-gray

					.content-right.walk-right
						h2 Want Coaching?
						p.
							With the new version you will be able to <br>turn off coaching even after you’ve <br>started with your session. No more <br>decideding ahead of time.
					.content-left.walk-left
						img(src="img/soc.jpg", alt="soc")

				
				.email-content-white
					.content-left
						.walking
							h2 After Workout Stats
							p.
								See your hard work pay off! <br>Get after-workout stats after <br>each session.
					.content-right
						img(src="img/iphone_b.jpg", alt="iphone_b")
			.email-footer
				p.copyright Copyright &#169; 2017 *ILIST:COMPANYI*, All rights <br>*ILIST:DESCRIPTION*
					
					
				p.mail-adress Our mailing address is: <br>*IHTML:LIST_ADDRESS_HTMLI*

				p
					|Want to change how you receive these emails?<br>
					|You can 
					a(href="#") update your preferences 
					| or 
					a(href="#") unsubscribe from this list

					
